.chat-root {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #e4f1ff, #e8dcff);
}

/* RIGHT CONTENT */
.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOP BAR */
.chat-topbar {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  
}

.chat-search input {
  width: 350px;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid #d6d6d6;
  background: #ffffffaa;
}

/* TOP USER */
.chat-user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.chat-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.chat-user-name {
  font-weight: 600;
}

.chat-user-role {
  font-size: 12px;
  opacity: 0.7;
}

/* HEADER */
.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: white;
  border-bottom: 1px solid #eee;
}

.teacher-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.teacher-avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.teacher-name {
  font-size: 17px;
  font-weight: 600;
}

.teacher-status {
  font-size: 13px;
  color: green;
}

/* CHAT BODY */
.chat-body {
  flex: 1;
  padding: 20px 30px;
  overflow-y: auto;
}

.msg {
  max-width: 55%;
  padding: 14px 16px;
  margin-bottom: 12px;
  border-radius: 16px;
  position: relative;
}

.msg-left {
  background: #f4f4f4;
  align-self: flex-start;
}

.msg-right {
  background: #4c8bff;
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 2px;
}

.msg-time {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 4px;
  text-align: right;
}

.typing-indicator {
  font-size: 13px;
  opacity: 0.7;
  padding: 8px;
}

/* INPUT BOX */
.chat-input-box {
  display: flex;
  gap: 10px;
  padding: 15px 20px;
  background: white;
  border-top: 1px solid #e4e4e4;
}

.chat-input-box input {
  flex: 1;
  padding: 12px 16px;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid #d0d0d0;
}

.send-btn {
  background: #4c8bff;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
