.quiz-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  width: 180px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.quiz-card img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.quiz-card h4 {
  margin-top: 10px;
}
