.sidebar {
  width: 220px;
  background-color: #4f94ff;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.logo {
  width: 60px;
  margin-bottom: 30px;
}

.sidebar-nav a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  font-size: 18px;
}

.quiz-timer {
  margin-top: auto;
  background: white;
  color: #4f94ff;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}
